.text-only {
  display: inline-block;
  width: 100%;
  height: auto;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-img-top,
.ratio iframe {
  border-radius: 8px;
  width: 100%;
}

.card-body {
  padding: 0.5rem;
}
