@if(errorMsg != null){
  <div class="alert alert-danger text-center" role="alert">
    {{errorMsg}}
  </div>
}

@if(infoMsg != null){
  <div class="alert alert-success text-center" role="alert">
    {{infoMsg}}
  </div>
}

<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg w-50">
    <div class="card-body">
      <form
        [formGroup]="cineForm"
        (ngSubmit)="guardarCine()"
        class="p-3"
      >
        <h4 class="mb-4 text-center text-primary">Crear nuevo cine</h4>

        <div class="mb-3">
          <label for="nombre" class="form-label fw-semibold">Nombre</label>
          <input
            id="nombre"
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Ejemplo: Cine Centro"
          />
          @if (cineForm.get('nombre')?.invalid && cineForm.get('nombre')?.touched) {
            <small class="text-danger">El nombre es obligatorio.</small>
          }
        </div>

        <div class="mb-3">
          <label for="ubicacion" class="form-label fw-semibold">Ubicación</label>
          <input
            id="ubicacion"
            type="text"
            class="form-control"
            formControlName="ubicacion"
            placeholder="Ejemplo: Ciudad de Guatemala"
          />
          @if (cineForm.get('ubicacion')?.invalid && cineForm.get('ubicacion')?.touched) {
            <small class="text-danger">La ubicación es obligatoria.</small>
          }
        </div>

        <div class="mb-3">
          <label for="fechaCreacion" class="form-label fw-semibold">Fecha de creación</label>
          <input
            id="fechaCreacion"
            type="date"
            class="form-control"
            formControlName="fechaCreacion"
          />
          @if (cineForm.get('fechaCreacion')?.invalid && cineForm.get('fechaCreacion')?.touched) {
            <small class="text-danger">La fecha es obligatoria.</small>
          }
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary px-4"
            [disabled]="cineForm.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

